head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  title Document
.container
  h1 FARMERONE REGISTRATION FORM
  form(method='POST' action='/fo' onsubmit=' return validate()')
    .form-row
      .col-md-6
        label(for='example')  Name
        input#name.form-control(type='text' name='name')
        #nameErr.error
      .col-md-3
        label(for='roles')  Roles
        select#act.form-control(name='roles')
          option(value='Default') Select your role
          option(value='agricofficer') Agric officer
          option(value='  farmerone') Farmerone
          option(value='urbanfarmer') Urbanfarmer
      .col-md-3
        label(for='example') User Name
        input#user.form-control(type='username' name='username')
        #userErr.error
    .form-row
      .col
        label(for='example') Ward
        input#war.form-control(type='text' name='ward')
        #warErr.error
      .col
        label(for='example') Ward Period
        input#warp.form-control(type='text' name='wardperiod')
        #warpErr.error
    .form-row
      .col
        label(for='example') NIN
        input#nin.form-control(type='text' name='nin')
        #ninErr.error
      .col
        label(for='example') Birth Date
        input#bd.form-control(type='date' name='birthdate')
        #bdErr.error
    .form-row
      .col
        label(for='example') Registration Date
        input#rd.form-control(type='date' name='registrationdate')
        #rdErr.error
      .col
        label(for='homeaddress') Home Address
        input#ha.form-control(type='text' name='homeaddress')
        #haErr.error
    .form-row
      .col
        label(for='example') Contact
        input#con.form-control(type='text' name='contact')
        #conErr.error
      .col
        label(for='example')  Residence type
        select#rt.form-control(name='residencetype')
          option(value=' Default') Select your residence type
          option(value='By birth') By birth
          option(value='By descent') By descent
        #rtErr.error
    .form-row
      .col
        label(for='activities')  Activities
        select#act.form-control(name='activities')
          option(value='Default') Choose your activities
          option(value='Registers urban farmers') Registers urban farmers
          option(value='Inspects the produce') Inspects the produce
        #actErr.error
      .col
        label(for='gender')  Gender
        select#act.form-control(name='gender')
          option(value=' Default  ') Choose your gender   
          option(value=' male  ')  male  
          option(value='female') female
        #genderErr.error
    .form-row
      .col-md-3
        label(for='password') Password
        input#pass.form-control(type='text' name='password' )
        #passErr.error
    .form-group
      button.btn.btn-success(type='submit') Register
  script(src='/js/farmerone.js')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
