doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
  title ORDER FORM
.container
  h1 ORDER FORM
  form
    .form-row
      .col
        label(for='example') Product Name
        input#product.form-control(type='email' placeholder=' ' name='productname')
        #productErr.error
      .col
        label(for='example') Unit price in Ugx
        input#price.form-control(type='password' name='unitprice')
        #priceErr.error
    .form-row
      .col
        label(for='example') Quantity
        input#quantity.form-control(type='email' name='quantity')
        #quantityErr.error
      .col
        label(for='example')  Payment Mode
        select#pm.form-control(name='paymentmode')
          option(value='') Choose your Mode of Payment
          option(value='') Cash
          option(value='') Mobile Money
        #payErr.error
    .form-row
      .col
        label(for='example') Delivery Mode
        select#delivery.form-control(name='deliverymode')
          option(value='') Choose your Mode of delivery
          option(value='') Pick up
          option(value='') Home Delivery
        #deliveryErr.error
      .col
        label(for='example') Produce Type
        select#pd.form-control(name='producttype')
          option(value='Choose your product typ') Choose your product type
          option(value=' Organic') Organic
          option(value=' Non Organic') Non Organic
        #producttErr.error
    .form-row
      .col
        label(for='example') Customer's Name
        input#customer.form-control(type='email' placeholder=' ' name='customersname')
        #customerErr.error
      .col
        label(for='example') Email 
        input#email.form-control(type='text' placeholder=' ' name='email')
        #emailErr.error
    .form-group
      .col-md-6
        label(for='example') Order Date 
        input#od.form-control(type='text' placeholder=' ' name='orderdate')
        #odErr.error
    button.btn.btn-success(type='submit') ORDER
